<?xml version="1.0"?>
<configuration>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup>
  <appSettings>
    <add key="ServiceName" value="ServiceTemplate"/>
    <add key="ServiceDisplayName" value="Service Template"/>
    <add key="ServiceDescription" value="Demo of a generic service template."/>
    <add key="ServiceAccount" value="NetworkService"/>
    <add key="ServiceUserName" value=""/>
    <add key="ServiceUserPassword" value=""/>
    <add key="EventSource" value="Service Template"/>
    <add key="EventLog" value="Service Template"/>
    <add key="WorkerThreadRestartDelay" value="3000"/>
  </appSettings>
</configuration>
